/* banner-section css start */
.banner {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
    background-attachment: fixed;
}

.banner .container {
    height: 100%;
}

.banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner-content {
    max-width: 620px;
}

.banner-content-text {
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}

/* banner-section css end */