/* collection-section css start */
/* collection tab css start */
.tab-wrapper {
    position: relative;
}

.tab-navs {
    align-items: center;
    display: flex;
    gap: 50px;
}

.tab-navs-overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 37%, rgba(255, 255, 255, 1) 94%);
    width: 90px;
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    height: 25px;
}

.tabs-nav-item-link {
    color: var(--heading-text-color);
    font-size: 25px;
    font-weight: 500;
    font-family: var(--heading-font);
    line-height: 140%;
    display: block;
    border-bottom: 0;
    text-wrap: nowrap;
    text-transform: capitalize;
    line-height: 1;
}

.tabs-nav-item-link:hover {
    text-decoration: underline;
}

.tab-nav-item.active .tabs-nav-item-link {
    text-decoration: underline;
}

.tab-content-wrapper {
    padding: 20px 0 0 0;
}

.collection-items,
.tab-product-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    row-gap: 30px;
}

.tab-content-text {
    margin: 15px 0 0 0;
    max-width: 1062px;
}

.tab-content-text:first-child {
    margin: 0;
}

.tab-wrapper.mobile-tab {
    display: none;
}

/* collection tab css end */
/* collection-section css end */

@media only screen and (max-width: 992px) {

    /* collection section css start */
    .collection-items,
    .tab-product-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* collection section css end */
}

@media only screen and (max-width: 767px) {

    /* collection section css start */
    .tab-navs {
        border-bottom: 0;
        overflow-x: scroll;
    }

    .tab-navs-overlay {
        display: flex;
    }

    /* collection section css end */
}


@media only screen and (max-width: 575px) {

    /* collection section css start */
    .tab-navs {
        gap: 20px;
    }

    .product-card .card-content .card-title {
        line-height: 18px;
    }

    .tab-navs-overlay {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 94%);
        width: 50px;
    }

    /* collection section css end */
}