/* common css start */
/* import fonts-- */
@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue-light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue-roman.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue-medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue-heavy.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/bigcaslon-bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'helvetica-neue';
    src: url('../fonts/helvetica-neue-black.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'big-caslon';
    src: url('../fonts/big-caslon-regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'big-caslon';
    src: url('../fonts/big-caslon-regular.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'big-caslon';
    src: url('../fonts/big-caslon-bold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'big-caslon';
    src: url('../fonts/big-caslon-bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'big-caslon';
    src: url('../fonts/big-caslon-black.woff') format('woff');
    font-weight: 800;
}

/* colors */
:root {
    /* color */
    --black: #000000;
    --white: #ffffff;
    --heading-text-color: #0B0B0B;
    --paragraph-text-color: #000000;
    --brand-color: #E5E5E5;
    --card-bg: #F7F7F7;
    --border-color: rgba(255, 255, 255, 0.3);
    --border-color2: #AAAAAA;
    --border-color3: rgba(0, 0, 0, 0.3);
    --text-muted: #ABABAB;
    --text-muted2: #6c6c6c;
    --text-mark: #6D221C;
    --btn-color: #000;
    --btn-bg: #fff;
    --card-badge-bg: #fff;
    --body-color: #fff;
    --section-bg: #2C323E;
    --hover-color: #6D221C;
    --item-bg1: #E3E3E3;
    --item-bg2: #AEAEAE;


    /* font family */
    --heading-font: "big-caslon", serif;
    --paragraph-font: "helvetica-neue", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--body-color);
    transition: all ease .7s;
}

body.active {
    overflow: hidden;
    transition: all ease .7s;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    transition: ease .3s;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    line-height: 22px;
    margin: 0;
}

.h1 {
    font-size: clamp(32px, 3.87vw, 48px);
    font-weight: 700;
    line-height: clamp(36px, 4.52vw, 56px);
}

.h2 {
    font-size: clamp(28px, 3.38vw, 42px);
    font-weight: 700;
    line-height: clamp(34px, 3.87vw, 48px);
}

.h3 {
    font-size: clamp(26px, 2.90vw, 36px);
    font-weight: 600;
    line-height: clamp(30px, 3.22vw, 40px);
}

.h4 {
    font-size: clamp(22px, 2.25vw, 28px);
    font-weight: 600;
    line-height: clamp(26px, 2.58vw, 32px);
}

.h5 {
    font-size: clamp(20px, 1.93vw, 24px);
    font-weight: 500;
    line-height: clamp(24px, 2.25vw, 28px);
}

.h6 {
    font-size: clamp(18px, 1.61vw, 20px);
    font-weight: 500;
    line-height: clamp(22px, 1.93vw, 24px);
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* input css start */
input,
textarea,
select {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    /* Firefox */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--paragraph-font);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* input css end */

/* button css start */
button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    transition: ease .3s;
    color: var(--btn-color);
}

.btn {
    font-size: 14px;
    font-weight: 300;
    padding: 12px 30px;
    transition: ease .3s;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    display: block;
    width: fit-content;
}

.btn:hover {
    text-decoration: none;
}

.primary-btn {
    color: var(--btn-color);
    position: relative;
    overflow: hidden;
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-bg);
}

.primary-btn span,
.secondary-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary-btn span {
    background-color: var(--btn-color);
}

.primary-btn:hover {
    color: var(--btn-bg);
}

.primary-btn:hover span,
.secondary-btn:hover span {
    width: 225%;
    height: 562.5px;
}

.primary-btn:active {
    background-color: var(--btn-color);
}

.secondary-btn {
    color: var(--white);
    position: relative;
    overflow: hidden;
    background-color: var(--black);
    border: 1px solid var(--black);
}

.secondary-btn span {
    background-color: var(--white);
}

.secondary-btn:hover {
    color: var(--black);
    border-color: var(--black);
}

.secondary-btn:active {
    background-color: var(--white);
}

/* button css end */

/* section heading css start */
.section-heading-wrapper {
    margin-bottom: 30px;
}

.section-heading {
    line-height: 110%;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
}

.section-heading-text {
    line-height: 18px;
    margin: 5px auto 0;
    font-size: 14px;
    font-weight: 400;
}

.section-btn {
    display: flex;
    margin: 30px 0 0 0;
    justify-content: center;
}

/* section heading css end */

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: var(--swiper-pagination-bottom, 5px);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px);
}

.swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    background: var(--item-bg1);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--item-bg2);
}

/* common css end */


@media only screen and (max-width: 992px) {
    .section {
        padding: 50px 0;
    }
}

@media only screen and (max-width:767px) {

    /* common css start */

    /* common css end */
}

@media only screen and (max-width: 575px) {

    /* common css start */

    /* common css end */
}