/* testimonial-section css start */
.testimonial-wrapper {
    padding: 0 0 0 20px;
}

.testimonial-item {
    padding: 15px;
    border: 1px solid var(--border-color3);
}

.testimonial-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--border-color3);
}

.testimonial-author {
    font-family: 14px;
    line-height: 100%;
    text-transform: capitalize;
}

.testimonial-author-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-author-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.testimonial-author-status .icon {
    display: flex;
}

.testimonial-author-status .text {
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
    color: var(--text-muted2);
}

.testimonial-author-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.testimonial-author-location .icon {
    display: flex;
}

.testimonial-author-location .text {
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
    color: var(--text-muted2);
}

.testimonial-bottom {
    margin: 10px 0 0 0;
}

.testimonial-rattings {
    display: flex;
    margin: 0 0 8px 0;
}

.testimonial-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.swiper.testimonial-slider .swiper-horizontal>.swiper-scrollbar,
.swiper.testimonial-slider .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: unset;
    width: 100%;
    opacity: 1 !important;
    visibility: visible;
    margin: 20px 0 0 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}

.swiper.testimonial-slider .swiper-horizontal>.swiper-scrollbar .swiper-scrollbar-drag,
.swiper.testimonial-slider .swiper-scrollbar.swiper-scrollbar-horizontal .swiper-scrollbar-drag {
    background: var(--black);
}

/* testimonial-section css end */